:root {
  color-scheme: dark;
  --bg-color: #121212;
  --card-bg: #1e1e1e;
  --accent: #646cff;
  --accent-glow: rgba(100, 108, 255, 0.5);
  --text-dim: #a1a1a1;
}

body {
  margin: 0;
  background-color: var(--bg-color);
  font-family: 'Inter', sans-serif;
  color: #ffffff;
}

.btns{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.container {

  max-width: 1000px;
  margin: 0 auto;
  padding: 2rem 1rem;
}

.logo-section{
 display: flex;
 flex-direction: column;
 gap: 2rem;
}

.icon-stack {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  font-size: 3.5rem;
}

.icon-tf {
  filter: drop-shadow(0 0 15px var(--accent-glow));
}

h1 { font-size: 3.5rem; margin: 0; font-weight: 800; letter-spacing: -1px; }
.subtitle { color: var(--text-dim); font-size: 1.2rem; margin-top: 0.5rem; }

.main-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  margin-top: 4rem;

  @media screen and (max-width: 640px){
    grid-template-columns: 1fr ;
}
}

.card {
  background: var(--card-bg);
  border-radius: 16px;
  padding: 2rem;
  border: 1px solid #2a2a2a;
  box-shadow: 0 10px 30px rgba(0,0,0,0.3);
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5rem;
  gap:0.5rem
}

.badge {
  background: #333;
  padding: 4px 10px;
  border-radius: 20px;
  font-size: 0.8rem;
  color: var(--accent);
}

.movie-list {
  display: flex;
  flex-direction: column;
  gap: 8px;
  max-height: 300px;
  overflow-y: auto;
  margin-bottom: 2rem;
  padding-right: 10px;
}

.movie-item {
  width: 20vw;
  background: #252525;
  border: 1px solid #333;
  padding: 12px;
  border-radius: 8px;
  cursor: pointer;
  text-align: left;
  transition: all 0.2s;
}

.movie-item:hover { border-color: var(--accent); }
.movie-item.active {
  border-color: var(--accent);
  background: rgba(100, 108, 255, 0.15);
}

.btn-predict {
  width: 100%;
  background: var(--accent);
  color: white;
  border: none;
  padding: 1rem;
  border-radius: 8px;
  font-weight: 700;
  font-size: 1rem;
  cursor: pointer;
  transition: transform 0.1s;
}

.btn-predict:active { transform: scale(0.98); }

.res-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.2rem 0;
  border-bottom: 1px solid #2a2a2a;
}

.res-info {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.res-title { font-weight: 600; font-size: 1.1rem; }
.res-genres { font-size: 0.85rem; color: var(--text-dim); }

.res-badge {
  color: var(--accent);
  font-weight: 800;
  font-size: 1.2rem;
}

.placeholder { color: var(--text-dim); padding-top: 2rem; }

.load {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5); /* Fundo semi-transparente */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999; /* Garante que fique acima de tudo */
}